body {
    line-height: 1;
    color: #1A202C;
    background-image:url(../imgs/transmit.gif); 
    background-repeat:repeat
    color: #333333;
    font-family: ‘Lucida Console’, Monaco, monospace;
}

hr{
    margin: 0;
}

#wrap{
    background-color: rgba(249, 249, 249, 0.6);
    height:100%;
    width: 100%;
    position: absolute;
}
h4,h5,p{
    margin: 0px 0 2px 15px;
}
.navbar{
    margin: 0px;
    padding: 0px;
}

#estrategias, .span3{
    margin-top: 10px;
}
#estrategias{
    overflow: auto;
}

.grafica{
    
    font-weight: bold;
    min-width: 350px;
}
.moneda td {
    padding: 3px;
    text-align: center;
    font-weight: bold;
}
.moneda #high{
    color : blue;
}
.moneda #low{
    color : red;
}
#stream{
    font-size: 16px;
    line-height: 2em;
}

#calculos{
    margin: 0 0 5px 50px;  
}
#calculos li {
    
}
#stream strong, .apertura{
    margin: 5px
}
.stream-tab tr th{
    padding: 5px;
    font-size: 14px;
    text-align: center;
}
#opciones{
    margin-top: -10px;
}
#opciones li{
    vertical-align: middle;
    cursor: pointer;
}
#opciones ul li:hover{
    color: #333333;
    background-color: #e6e6e6;
}
#terminal{
    bottom: 0;
    left:0;
}
#terminal-tab{
    margin: 4px;
}
#terminal-cont{
    margin: 15px;
    overflow: auto;
    height: 150px;
}
.log tr{
    font-size: 13px;
}
.time{
    font-weight: bold;
}
#terminal-tab li a{
    font-weight: bold;
    font-size: 16px;      
}
#market-hora{
    font-weight: bold;
    color:green;
}
#market-watch{
    padding-left: 10px;
    margin-bottom: 5px;
    font-weight: bold;
}
.chart{
    margin: 5px;
    width: 400px;
    height: 200px;
}
.promedios ul li{
    list-style-type: none;
    font-size: 12px;
}
.graf-header{
    margin: 10px;
}
//@Cosas que sobreescriben estilos de bootstrap
.arrow {
  top: 50%;
}
.popover{
    width: 165px;
}
#terminal .well{
    margin: 0px;
}
#terminal-wrap{
    background-color:#FFF;
}
.span6{ 
    margin-bottom: 10px;
    background-color: #FFF;
    -webkit-border-radius:3px;
    -moz-border-radius:3px;
    -border-radius:3px;
     box-shadow: 1px 2px 4px #666;
    -webkit-box-shadow: 1px 2px 5px #666;
    -moz-box-shadow: 1px 2px 4px #666; 
    color : #343643;
    font-family: ‘Courier New’, Courier, monospace;
}
.sidebar-nav{
    padding: 5px 2px 0px 2px;
}
i{
    margin: 2px;
}