html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
    background-color: #FF6600;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}

.settings li{
   display: inline;
   margin: 0 10px 0 0;
}

.estado{
    margin: 10px 10px 10px 30px;
}

#wrap{
    margin: 10px 5% 25px 35px;
    padding:5px 15px 0 0;
    background-color: #FFF;
    position: relative;
    -webkit-border-radius:4px;
    -moz-border-radius:4px;
    -border-radius:4px;
}

#estrategias{
     padding: 10px 10px 10px 10px; 
}

.grafica{
    margin: 3px 0px 0px 10px;
    border-style:dotted solid;
    padding:10px 0px 10px 10px;
}

#estrategias h1{
    font-size:20px;
}

#estrategias h2{
    font-size: 17px;
    font-weight:bold;
}

#estrategias h3{
    font-weight:bold;
}

ul{
    margin: 0px 0px 5px 10px;
}

.stream{
    color:blue;
}
.apertura{
    color:green;
}

.promedios ul li span{
    color:red;
}