html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
    color: #1A202C;
    background-image:url(../imgs/pattern.gif); 
    background-repeat:repeat
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}

.settings li{
   display: inline;
   margin: 0 10px 0 0;
}

.estado{
    margin: 10px 10px 10px 30px;
}

#wrap{
    margin: 10px 5% 25px 35px;
    padding:5px 15px 0 0;
    background-color: rgba(178,153,122, 0.7);
    position: relative;
    -webkit-border-radius:4px;
    -moz-border-radius:4px;
    -border-radius:4px;
    color : #000;
}

#estrategias{
     padding: 10px 10px 10px 10px; 
}

.grafica{
    margin: 3px 0px 8px 10px;
    padding:10px 0px 10px 10px;
    background-color: rgba(255, 255, 255, 0.6);
    -webkit-border-radius:3px;
    -moz-border-radius:3px;
    -border-radius:3px;
    color : #343643;
}

#estrategias h1{
    font-size:20px;
}

#estrategias h2{
    font-size: 17px;
    font-weight:bold;
}

#estrategias h3{
    font-weight:bold;
}

ul{
    margin: 0px 0px 5px 10px;
}

.bid{
    background-color: blue;
    color:#FFF;
}
.ask{
    background-color: #E00E0E;
    color:#FFF;
}
.apertura{
    color:green;
}

.promedios ul li span{
    color:red;
}
.operaciones ul li span{
    margin: 5px;
}

table{
    font-family: "Lucida Sans Unicode", "Lucida Grande";
    font-size: 12px;
    nargin:45px;
    width: 530px;
    text-align:left;
    border-collapse: collapse;
}

th{
    padding:8px;
    font-weight: normal;
    font-size: 10px;
    color:#FFF;
    background: #D4390D;
}
td{
    background:#fff;
    padding-left: 5px;
    
    color:#000;
}

tr:hover td{
    background: rgba(195,187,176,0.1);
}
