html
  head
    title= title
    link(rel='stylesheet', href='/css/bootstrap/bootstrap.css')
    link(rel='stylesheet', href='/css/trade.css')
    link(rel='stylesheet', href='/css/bootstrap/bootstrap-responsive.css')
  body
    #wrap
      .navbar.navbar-inverse.navbar-top
        .navbar-inner
          .container-fluid
            a.btn.btn-navbar(data-toggle='collapse', data-target='.nav-collapse')
            a.brand OMS
            .nav-collapse.collapse
              p.navbar-text.pull-right
                | Logged in as 
                a.navbar-link(href='') Omar
              ul.nav
                li(id="trading")
                  a(href='./') Trading
                li(id="monitor")
                  a(href='./monitor') Monitoreo

      block content
      #sound_order
    script(src='http://code.jquery.com/jquery-latest.min.js')
    script(src='js/lib/socket.io.js')
    script(src='https://www.google.com/jsapi')
    script(src='js/lib/bootstrap-affix.js')
    script(src='js/lib/bootstrap-dropdown.js')
    script(src='js/lib/bootstrap-tooltip.js')
    script(src='js/lib/bootstrap-popover.js')
    script(src='js/lib/bootstrap-tab.js')
    script(src='js/lib/bootstrap-scrollspy.js') 
    if(title == 'Monitoreo')
      script(src='js/monitor.js')
    else
      script(src='js/grafica.js')
      script(src='js/clientEventsHandler.js')
    script(src='js/util.js') 
