html
  head
    title= title
    link(rel='stylesheet', href='/css/bootstrap/bootstrap.css')
    link(rel='stylesheet', href='/css/trade.css')
    link(rel='stylesheet', href='/css/bootstrap/bootstrap-responsive.css')
  body
    #wrap
      .navbar.navbar-inverse.navbar-top
        .navbar-inner
          .container-fluid
            a.btn.btn-navbar(data-toggle='collapse', data-target='.nav-collapse')
            a.brand OMS
            .nav-collapse.collapse
              p.navbar-text.pull-right
                | Logged in as 
                a.navbar-link(href='') Omar
              ul.nav
                li.active
                  a(href='./') Trading
                li
                  a(href='./') Historial

      block content

    script(src='http://code.jquery.com/jquery-latest.min.js')
    script(src='js/lib/socket.io.js')
    script(src='js/lib/bootstrap-affix.js')
    script(src='js/lib/bootstrap-dropdown.js')
    script(src='js/lib/bootstrap-tooltip.js')
    script(src='js/lib/bootstrap-popover.js')
    script(src='js/lib/bootstrap-tab.js')
    script(src='js/lib/bootstrap-scrollspy.js')
    script(src='js/grafica.js')
    script(src='js/clientEventsHandler.js')


