extends layout

block content
  .container
    .hero-unit
      table.display(cellpadding="0", cellspacing="0", border="0", id="example", width="100%")
        thead  
          tr
            th Order
            th Tipo
            th Lotes
            th Par
            th Precio
            th S/L
            th T/P          
          tbody.log