extends layout

block content
  .container-fluid
    .row-fluid
      .span3
        #lefty(data-spy='affix')
          .well.sidebar-nav
            h4 Journal
      .span9
        #estrategias
          - if (graficas.length == 0)
              h1 No hay graficas conectadas :(
          - else
              for grafica in graficas
                -if (graficas.length % 2 ==1)
                .row-fluid
                  .span6
                    h1 #{grafica.setts.ID}
                  