extends layout

block content-trade

  .container-fluid
    .row-fluid
      .span3
        
      .span9
        #estrategias    
        -var temps = []
          if graficas.length==0
            h1 No hay graficas conectadas :(
          else  
            each grafica in graficas
              -temps.push(grafica.setts)
              if temps.length == 2
                .rowfluid
                  each temp in temps
                    .span6
                      div(id= temp.ID, class="grafica")
                        .content-graf
                            .graf-head
                              h4 #{temp.symbol}
                              .btn-group.pull-right(id="opciones")
                                a.btn-small.btn.btn-primary.dropdown-toggle(data-toggle='dropdown',href='#') Opciones 
                                  span.caret
                                ul.dropdown-menu
                                  li(data-filter-camera-type='all')
                                    a(id="inputs",rel="popover") Inputs                           
                            hr
                            p#stream
                              strong Bid
                              span.bid -------
                              strong Ask
                              span.ask -------
                              .promedios
                                h5 Apertura de minuto
                                  span.apertura
                                h5 Promedios
                                ul#calculos.unstyled
                              .operaciones
                                

                -temps =[]

block footer-trade
  .span3
    #terminal(data-spy='affix')
      .well.sidebar-nav(id="terminal-wrap")
        ul.nav.nav-tabs(id='terminal-tab')
          li.active
            a(href="#trade", data-toggle="tab") Trade
          li
            a(href="#account-history", data-toggle="tab") Account History
          li
            a(href="#experts", data-toggle="tab") Experts  
          li
            a(href="#journal", data-toggle="tab") Journal
        #terminal-cont.tab-content
          #trade.tab-pane.active
            table.table.table-striped
              tr
                th Order
                th Tipo
                th Lotes
                th Par
                th Precio
                th S/L
                th T/P
          #account-history.tab-pane
            table.table.table-striped
              tr
                th Order
                th Hora
                th Tipo
                th Lotes
                th Par
                th Precio
                th S/L
                th T/P
                th Hora
                th Precio
                Th Profit
          
          #experts.tab-pane
            h4 Experts
          #journal.tab-pane